body{
	background-color: #f9f1ef;
	font-family: 'Source Code Pro', monospace;
}

h1{
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 80px;
	text-shadow: 3px 3px 2px #ffac93;
	color: #000;
}

h2{
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin-top: -50px;
	letter-spacing: 10px;
	color: #000;
	font-size: 18px;
}

h3{
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;
	margin: 0;
	text-align: center;
	text-shadow: 2px 2px 1px #ffac93;
	margin-bottom: 5px;
}

#blank{
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 16px;
	background-color: #ffac93;
	padding: 10px;
	width: 650px;
	display: block;
	margin: auto;
	margin-top: 160px;
}

#container{
	margin-top: 50px;
	margin-bottom: 100px;
}

.row{
	display: block;
	margin: auto;
	margin-top: 20px;
	width: 1000px;
}

.project{
	width: 260px;
	padding: 20px;
	box-shadow: 5px 5px 2px #ffac93;
	height: 390px;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
	vertical-align: center;
	text-align: center;
}

.project img{
	width: 240px;
	margin: auto;
	margin-bottom: 10px;
	box-shadow: 0px 0px 15px #ffac93;
	height: 150px;
	display: block;
}

p{
	font-size: 13px;
	height: 140px;
	overflow: hidden;
	margin-bottom: 10px;
	line-height: 1.2em;
	text-align: center;
}

.project b{
	font-size: 12px;
}

#links{
	width: 700px;
	display: block;
	margin: auto;
}

a{
	background-color: #ffac93;
	padding: 5px;
	border: 1px #ffac93 solid;
	font-size: 10px;
	text-align: center;
	display: block;
	margin: auto;
	text-decoration: none;
	color: #000;
	transition: 1s;
	width: 150px;
}

a:hover{
	background-color: #f9f1ef;
	transition: 1s;
	color: #ffac93;
	border: 1px #ffac93 solid;
}

#links a{
	display: inline-block;
	width: 200px;
}

.hover_bkgr_fricc{
    /*background:rgba(0,0,0,.4);*/
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:101%;
    z-index:10000;
    padding: 0px;
    margin-left: -10px;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #f9f1ef;
	box-shadow: 0px 0px 15px #ffac93;
    display: inline-block;
    height: auto;
    max-width: 200px;
    min-height: 20px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    padding: 60px;
}
.popupCloseButton {
    background-color: #f9f1ef;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.trigger_popup_fricc {
    cursor: pointer;
}