body{
	background-color: #f9efed;
}

h1{
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 80px;
	text-shadow: 3px 3px #ffac93;
	color: #000;
}

h2{
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin-top: -50px;
	letter-spacing: 10px;
	color: #000;
	font-size: 18px;
}

h3{
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
}

#container{
	margin-top: 50px;
	margin-bottom: 100px;
}

.row{
	display: block;
	margin: auto;
	margin-top: 20px;
	width: 1000px;
}

.project{
	width: 260px;
	padding: 20px;
	box-shadow: 5px 5px #ffac93;
	height: 300px;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
	vertical-align: center;
}